@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-color: #263a53;
  outline-color: #263a53;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
button {
  cursor: pointer;
}
